<div class="d-flex justify-content-center mt-5">
  <div class="card mt-5 bg-main col-6 mt-3 text-light">
    <p class="card-body text-center lead">      
       Name: <%= @label.name %>  <br>
      Content : <%= @label.content %>  <br>
    </p> 
    
    <%= link_to 'Back', labels_path , class: "btn btn-dark"%>  
  </div>
</div>