<div class="d-flex justify-content-center mt-5">
  <div class="card mt-5 bg-main col-6 mt-3 text-light">
    <p class="card-body text-center lead">      
       Name: <%= current_user.name %>  <br>
       Email: <%= current_user.email %>  <br>       
    <%= link_to 'Back', tasks_path , class: "btn btn-dark"%>  
  </div>
</div>
