<section class="app">
  <aside class="sidebar mt-5">  
    <nav class="sidebar-nav"> 
      <ul>
        <li>
          <%= link_to "New Task",new_task_path,class:" text-light mt-3 nav-link" %>          
        </li>
        <li>
          <%= link_to "Account",user_path(current_user.id),class:" text-light mt-3 nav-link" %>           
        </li> 
        <div>
          <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"btn btn-dark text-light mt-3 "%>     
        </div>      
      </ul>
    </nav>
  </aside>
</section>