<section class="app">
  <aside class="sidebar mt-5">  
    <nav class="sidebar-nav"> 
      <ul>
        <li>
          <%= link_to "New Task",new_task_path,class:" text-light mt-3 nav-link" %>          
        </li>       
      </ul>
    </nav>
  </aside>
</section>