@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

body {
    font-family: "Lato";
    font-size: 100%;
    // overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #0B0720 !important;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

a:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.app {
    height: 100vh;
}

/* -------------
Sidebar
----------------*/
.sidebar {
    position: absolute;
    width: 15em;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-color: #41385A;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
    position: fixed;
    background-color: #41385A;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

}

.sidebar-nav li {
    text-decoration: none;
    display: inline;
    width: 100%;
    margin-left: 0;
}

.sidebar-nav li a:hover {
    background-color: #0B0720;
    width: 100vh;
}

// body {//     width: 100vh;
//     background-color: #0B0720 !important;
//     // overflow-x: hidden;
// }
.task-card {
    // width: 20rem !important;
}

// .new-task {
//     animation-delay: 5s;
// }

.all-tasks {
    background-color: #41385A !important;
}

.search>.form-control {
    width: 15rem;
}

.bg-main {
    background-color: #41385A !important;
}

.side-nav {
    // margin-top: 1.7rem;
}

.top-nav {
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px rgb(41, 35, 56);
    height: 60px;
}

.app {
    position: fixed;
}

.content {
    // margin-top: 2.5rem;
    font-size: 17px;
}

.pending-card {
    // margin-left: 2rem;
    background-color: #41385A !important;
    // overflow-y: scroll;
}

.progress-card {
    background-color: #41385A !important;
    margin-top: 2rem;
}

.progress-card>.card-header {
    color: black;
}

.in-progress-card {
    height: 27.7rem;
    margin-top: 2rem;
    font-size: 15px;
    color: rgb(187, 183, 183);
    font-family: Roboto, sans-serif;
}

.in-progress-card>.card-header {
    color: black !important;
}

.finished-card {
    margin-left: 6rem;
    background-color: #41385A !important;
    height: 36.5rem;
    margin-bottom: 2rem !important;
    margin-top: 2rem;
}

.finished-card-body {
    // overflow-y: scroll;
    color: rgb(172, 163, 163);

}

.in-progress {
    color: rgb(172, 163, 163);
}

.in-progress-main-card {
    height: 25rem;
    background-color: #41385A !important;
}

// .pending::-webkit-scrollbar {
//     width: .2em;
// }

// .pending::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }

// .pending::-webkit-scrollbar-thumb {
//     background-color: darkgrey;
//     outline: 1px solid slategrey;
// }
.finished-task {
    overflow-y: scroll;
    height: 26rem;
    color: rgb(172, 163, 163);
}

.finished-task::-webkit-scrollbar {
    width: .2em;
}

.finished-task::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.finished-task::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.task-controls {
    // position: relative;
    // left: 25rem;
}

.inline>.inline-radio {
    display: inline-block;
}

.new-task {
    background-color: #41385A !important;
    color: rgb(162, 169, 175)
}

.form-group>.form-control {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #0B0720 !important;
    background-color: #41385A !important;
    color: white !important;
    font-size: 18px;
}

.right {
    position: relative;
    left: 23rem;
}

.field>.f-control {
    background-color: #41385A;
    border: 1px solid #0B0720;
    width: 20rem;
    border-radius: 6px;
    height: 2.5rem;
    color: aliceblue !important;
}

.notice {
    margin-top: 5rem;
}

.login-card {
    margin-left: 20rem !important;
}