<div class="d-flex justify-content-center mt-5 mb-5">
  <div class="card bg-main mt-5 text-light" style="width: 28rem;">
    <h3 class="card-header text-center">Edit Task</h3>
    <div class="card-body lead">
      <%= render 'form', task: @user %>      
    </div>
  </div>
</div>