<div class="d-flex justify-content-center mt-5 mb-5">
  <div class="card bg-main mt-5" style="width: 28rem;">
    <h3 class="card-header text-center">Create User</h3>
    <div class="card-body lead">
      <%= render 'form',user: @user  %>   
      <span class="card-body text-center text-light">
          Have an account? <%= link_to "Log in",new_session_path, class:"text-info"%>
      </span>  
    </div>
  </div>
</div>
